<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt">Welcome to the Online Quiz Portal</h1>
                <p class="padded-text">Please click "Start Exam" below to begin the asssesment. 
                    Take time to answer each question with care as you will not be able to revisit
                    a question once you submit it. Upon completion of the exam, you will be able to
                    view your answers and your score.
                </p>
                <p class="h5"></p>
                <a routerLink='/questions'>
                    <button class="btn btn-success">Start Exam</button>
                </a>
            </div>
        </div>
    </div>
</body>